// צבעים
$main-color: #eaff00;
$background-color: #1A1A1A;
$dark-gray: #242424;
$gray-color: #D9D9D9;
$border-color: #424242;
$text-color: #98989c;
$footer-height: 80px;
$header-height: 64px;

// טיפוגרפיה
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 20px;
$font-size-xl: 26px;

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 800;

$line-height-tight: 1.2;
$line-height-normal: 1.5;
$line-height-relaxed: 1.7;